
<div class="user_page">
  <div class="user-header">
    <h1>Welcome <%= @user.name %>!</h1>
  </div>

  <h2>Upcoming flights:</h2>

<% @user.reservations.each do |booking| %>
  <div class="flight flight-active">

    <div class="flight-desc">
      <div class="label"><%= booking.flight.plane.name %></div>
    </div>

    <div class="flight-cities">
      <div class="flight-city"><%= booking.flight.origin %> </div>
      <div class="flight-progress"><div class="flight-progress-track">&#9992;</div></div>
      <div class="flight-city"> <%= booking.flight.destination %></div>
    </div>

    <div class="flight-leg flight-from">
      <table class="flight-details">
        <thead>
          <tr>
            <td>Date</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%=  booking.flight.date.to_s(:short)  %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <% end %>



<%# link_to 'Edit', edit_user_path(@user) %>
<%# link_to 'Back', users_path %>

</div>
