

<div class="aboutWrapper">
<h1>About us</h1>
<div class="aboutImageWrapper">


  <%= link_to "https://www.linkedin.com/in/vidyullatha-kandipati-5a53921b/" do %>

<%=  image_tag('https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAANhAAAAJDNkMmVhZWU2LTZkMzItNDQwZi05ZGU2LTg4MTc5ZWU3NjRlYw.jpg', :class => 'img-circle about')  %>

  <% end %>



  <%= link_to "https://www.linkedin.com/in/daniele-peviani/" do %>
<%= image_tag('https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAkRAAAAJDY0YTk4YmQ4LTU3MTctNDRiMS05YTAwLTczNzZmNTBiNDgzOA.jpg', :class => 'img-circle about')  %>
  <% end %>

  <%= link_to "https://www.linkedin.com/in/christle-lee/" do %>
<%= image_tag('https://media.licdn.com/mpr/mpr/shrinknp_200_200/AAEAAQAAAAAAAAkKAAAAJDE5ZGRlZjhlLTYzNzctNGZmMy1hNzQ4LTA3OGEwZmMyOWI1NQ.jpg', :class => 'img-circle about')  %>
  <% end %>

</div>
</div>
